


body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}


nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 12%;
}


.logo{
  height: 70px;
  padding: 20px;
  cursor: pointer;
}


.header{
  text-align: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(222, 49, 99, 0.73));
  color: #fff;
  padding: auto;
}

.bg{
  position: fixed;
  z-index: -1;
}



.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-content h1{
  font-size: 3.5rem;
}

.header-content p{
  font-size: 1.5rem;
  margin-top: -25px;
  font-weight: bold;
}

.download {
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  color: #E11C74;
  font-size: 20px;
  padding: 15px 20px;
}

.download-btn{
  margin-top: 30px;
}

.download img{
  vertical-align: top;
  margin: 0 0 0 10px ;
}


/* -----------Detail */

.detail {
  position: relative;
  /* height: 1600px; */
  padding: 5% 15%;
  background-color: #fff;
}

.detail img{
  position: absolute;
  height: 500px;
}


.img1{
  top: 5%;
  left: 15%;
}
.img2{
  top: 28%;
  right: 15%;
} 
 .img3{
  top: 50%;
  left: 15%;
}
.img4{
  top: 80%;
  right: 15%;
}



.para{
  width: 500px;
  position: absolute;  
}

.para p{
  color: #AAB7B8;
}

.para1{
  margin-top: 20%;
  left: 35%;
}
.para2{
  top: 15%;
  right: 20%;
}
.para3{
  top: 60%;
  left: 30%;
}
.para4{
  top: 80%;
  right: 20%;
}



/* -----------------------About us */

.about{
  padding: 0 15% 5%;
}

.about p{
  font-size: 1.1rem;
  line-height: 2em;
  color: #707B7C;
}




/* --------------------------------FAQ's */

.faq{
  padding: 0 15% 5% ;
}

.faq-d{
  padding: 1em 0;
  border-bottom: 1px solid #D5DBDB;
}

.faq-title{
  display: flex;
  cursor: pointer;
}

.faq-title h2{
  padding-left: 1.5rem;
}

.faq-title i{
  height: 30px;
  font-size: 30px;
  color: #E11C74;
  margin-top: 38px;
  transform: translate(0, -50%);
}

.faq-para{
  border-left: .5rem solid #E5E8E8;
  padding: 0 2em;
  font-size: 1.rem;
  line-height: 2em;
  color: #707B7C;
}




/* ---------------------------Contact us */

.contact{
  padding: 0 15% 3%;
}

.contactS{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 0 0;
}

.sub-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 200px;
  margin: 0 3rem 5rem 0 ;
}

.sub-contact .title-icon{
  font-size: 50px;
  color: #E11C74;
}

.sub-contact p{
  color: #707B7C;
  
}

.sub-contact p i{
  padding: 0 10px 0 0;
}



/* ------- Footer */

footer{
  display: flex;
  justify-content: space-around;
  padding: 2% 5%;
  background: #E11C74;
  color: #fff;
  font-size: 120%;
}

.footer-left{
  display: flex;
  justify-content: space-evenly;
}

.footer-left div{
  margin: 0 3em;
}

.footer-left ul{
  padding: 0;
}

.footer-left ul li{
  list-style: none;
  padding: .5em 0;
}

.footer-left ul li a{
  text-decoration: none; 
  color: #fff;
  font-weight: 30px;
}

footer .social-h3{
  margin-left: 5px;
}

footer .social{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 0;
}

.social a {
  color: #fff;
  
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  padding: 8px;
  transition: all .3s ease;
}

.social .facebook{
  background-color: #3b5998;
}
.social .facebook:hover{
  box-shadow: 0 0 20px #fff;
}

.social .instagram{
  background-color: #8134AF;
}
.social .instagram:hover{  
  box-shadow: 0 0 20px #fff;
}

.social .twitter{
  background-color: #1DA1F2;
}
.social .twitter:hover{
  
  box-shadow: 0 0 20px #fff;
}

.social .linkedin{
  background-color: #0e76a8;
}
.social .linkedin:hover{  
  box-shadow: 0 0 20px #fff;
}

/* ------------copyright */

.copyright{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: #AAB7B8;
  background-color: #fff;
}

.copyright p{
  margin: 5px;
}

.copyright p a{
  text-decoration: none;
  color: #AAB7B8;
  padding: 0 15px;
  margin: 0%;
}

.copyright p a:last-child{
  border-left: 1px solid #a4bec0;
}



/*----------------------------- wide displays */



@media (max-width: 1200px){
  

  .img1{
    top:100px
  }
  .img2{
    top: 23%;
  }
  .img3{
    top: 47%;
  }
  .img4{
    top: 70%;
  }

}
/* min1200  */
@media(min-width: 1200px) {

  .header h1{
      font-size: 50px;
  }

  .header p{
    line-height: 1.5em;
  }
  .header-content{
    width: 70%;
  }

    
  .detail{
    position: relative;
    margin: 0;
    padding-bottom: 8%;
  }
  .detail img{
    height: 400px;
    position: absolute;
  }



  .para{
    width: 45%;
    padding: 0;
    position: static;
  }
  .para h3{
    font-size: 2em;
  }
  .para p{
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .para1{
    margin-top: 5%;
    margin-left: 25%;
  }

  .para2{
    margin-top: 10%;
    margin-left: 32%;
  }

  .para3{
    margin-top: 10%;
    margin-left: 25%;
  }

  .para4{
    margin-top: 10%;
    margin-left: 32%;
  }

  .img1{
    top: 5%;
  }
  .img2{
    top: 25%;
  }
  .img3{
    top: 45%;
  }
  .img4{
    top: 65%;
  }



  .sub-contact{
    min-width: 300px;
  }



  footer{
    flex-direction: row;
  }
  .footer-left{
    flex-direction: row;
  }
}


/* ---------------Desktop and Laptop------------- */

@media(min-width: 1024px) and (max-width: 1200px) {
  
  .header h1{
      font-size: 50px;
  }

  .header p{
    line-height: 2em;
    font-size: 1.5rem;
  }
  .header-content{
    width: 70%;
  }

    
  .detail{
    position: relative;
    margin: 0;
    padding-bottom: 12%;
  }
  .detail img{
    height: 400px;
    position: absolute;
  }



  .para{
    width: 47%;
    padding: 0;
    /* margin: 10% 0; */
    position: static;
  }
  .para h3{
    font-size: 2em;
  }
  .para p{
    font-size: 1em;
    line-height: 1.8em;
  }
  
  .para1{
    margin-top: 5%;
    margin-left: 25%;
  }

  .para2{
    margin-top: 12%;
    margin-left: 30%;
  }

  .para3{
    margin-top: 12%;
    margin-left: 25%;
  }

  .para4{
    margin-top: 12%;
    margin-left: 30%;
  }

  .img1{
    top: 5%;
    left: 10%;
  }
  .img2{
    right: 10%;
    top: 25%;
  }
  .img3{
    left: 10%;
    top: 45%;
  }
  .img4{
    right: 10%;
    top: 65%;
  }



  .sub-contact{
    min-width: 300px;
  }



  footer{
    flex-direction: row;
  }
  .footer-left{
    flex-direction: row;
  }

}



/* --------Tablet------- */
@media (min-width: 769px) and (max-width: 1023px){
  
  
    nav{
      padding: 0;
    }
    nav img{
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
    
    .bg{
      overflow: hidden;
    }
    
    .header h1{
      font-size: 50px;
    }
    .header p{
      font-size: 1.5rem;
    }
    .header-content{
      width: 80%;
      transform: translate(-50%, 0);
    }




    .detail{
      position: relative;
      margin: 0;
    }

    .detail img{
      height: 350px;
      position: absolute;
    }

    .para{
      width: 62%;
      padding: 0;
      margin: 10% 0;
      position: static;
    }
    .para h3{
      font-size: 2em;
    }
    .para p{
      font-size: 1.2em;
      line-height: 1.4em;
    }
    
    .para1{
      margin-top: 5%;
      margin-left: 32%;
    }

    .para2{
      margin-top: 20%;
      margin-left: 10%;
    }

    .para3{
      margin-top: 20%;
      margin-left: 32%;
    }

    .para4{
      margin-top: 20%;
      margin-left: 10%;
    }

    
    .img1{
      top: 5%;
      left: 10%;
    }
    .img2{
      top: 27%;
      right: 10%;
    } 
    .img3{
      top: 48%;
      left: 10%;
    }
    .img4{
      top: 68%;
      right: 10%;
    }
}

/* ---------------mobile phones------------------ */
@media (max-width: 768px){

    body{
      padding: 0;
      margin: 0;
    }

    nav{
      padding: 0;
      margin: 0;
    }
    

    .header{
      background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(222, 49, 99, 0.73)),url('./Images/mobileBG.png');
      background-size: cover;
    }
    .header h1{
      font-size: 50px;
    }
    .header p{
      font-size: 1.5rem;
    }
    .header-content{
      width: 90%;
      transform: translate(-50%, -15%);
    }

    .bg{
      display: none;
    }


    .detail{
      position: static;
      height: 100%;
      margin: 0;
    }
    .detail img{
      height: 700px;
      position: static;
    }



    .para{
      width: 100%;
      padding: 0;
      text-align: center;
      margin: 10em 0;
      position: static;
    }
    .para h3{
      font-size: 2.5em;
    }
    .para p{
      font-size: 1.5em;
    }


    .faq{
      padding: 5% 10%;
    }



    footer{
      flex-direction: column;
      text-align: center;
      font-size: 120%;
    }

    .footer-left{
      flex-direction: column;
    }

    .footer-left div{
      border-bottom: 3px solid #fff ;
    }

    .social{
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }

 
}

/* -----------------------low end device */
@media (max-width: 468px){


  body{
    padding: 0;
    margin: 0;
  }

  nav{
    padding: 0;
    margin: 0;
  }
  .logo{
    height: 70px;
    padding: 20px 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }


  .header{
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
  .header h1{
    font-size: 2.5rem;
  }
  .header p{
    font-size: 1.3rem ;
  }
  .header-content{
    width: 80%;
    transform: translate(-50%, -15%);
  }


  .detail img{
    height: 400px;
    position: static;
  }
  .para h3{
    font-size: 1.5em;
  }
  .para p{
    font-size: 1em;
  }
  
  .copyright{
    text-align: center;
    flex-direction: column;
    padding: 0 5%;
  }

}


@media (min-aspect-ratio: 16/9){
  .bg{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .bg{
    width: auto;
    height: 100%;
  }
}












































































::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(246, 10, 60, .5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}